@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700;800&display=swap');

:root {
  --primary: #6C5DD3;       
  --primary-light: #CFC8FF; 
  
  --text-dark: #11142D;     
  --text-gray: #808191;    
  
  --glass-bg: rgba(255, 255, 255, 0.65); 
  --glass-border: 1px solid rgba(255, 255, 255, 0.8);
  
  --radius: 24px;           
}

body {
  margin: 0;
  font-family: 'Assistant', sans-serif; 
  color: var(--text-dark);
  
  background: #F0F3F9;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  
  height: 100vh;
  overflow: hidden; 
}